# Build files
mobile/build/
mobile/.dart_tool/
mobile/.idea/
mobile/*.iml
mobile/windows/flutter/ephemeral/
web/vendor/
web/.env
web/storage/
web/node_modules/
web/bootstrap/cache/
*.log
*.zip
system_images/
*.apk
*.so
*.dll
*.exe
*.pdb
*.bin
*.jar
*.dex
*.flat
*.obj
*.tlog
*.rar
.phpunit.result.cache