# Build files
Admin/mApp/build/
Admin/mApp/.dart_tool/
Admin/mApp/.idea/
Admin/mApp/*.iml
Admin/SeaPass/vendor/
Admin/SeaPass/.env
Admin/SeaPass/storage/
Admin/SeaPass/node_modules/
*.log
*.zip
system_images/
Admin/SeaPass/vendor/
*.apk
*.so
*.dll
*.exe
*.pdb
*.bin
*.jar
*.dex
*.flat
*.obj
*.tlog
Admin/mApp/build/
Admin/mApp/.dart_tool/
Admin/SeaPass/storage/
Admin/SeaPass/bootstrap/cache/
*.pdb
*.rar
Admin.rar
Admin/mApp/windows/flutter/ephemeral/
.phpunit.result.cache
